@{
    ViewData["Title"] = "Home Page";
}
<br>
<br>
<br>
<div class="text-center">
    <h1 class="display-4">Welcome to Mini-Herold</h1>
    <p>This application is providing a phone book look-up using SPARQL to perform queries on a RDF-graph.<br> Mini-Herold was created in the course of an exercise from Integrated Infromation Systems. <br> created in 4/2024</p>
</div>
